@model  WebApplication1.Models.TestModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("create","home"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>TestModel</h4>
    <hr />
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="treeview">
                @Html.Partial("RenderTreeView", Model.TreeViewModels, new ViewDataDictionary { { "id", 0 } })
            </div>
            <div id="treeview2">
                @Html.Partial("RenderTreeView", Model.TreeViewModels2, new ViewDataDictionary { { "id", 0 } })
            </div>



            <button type="button" class="btn btn-success" id="show-values">Get Values</button>

            <pre id="values"></pre>

        </div>
    </div>
    @Html.HiddenFor(x=>x.SelectedValues)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit"  value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}


@section scripts{
    <link type="text/css” rel=”stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Scripts/treeview.js"></script>
    <script src="~/Scripts/logger.js"></script>
    <script>

        $(document).ready(function () {

            $("form").submit(function () {
                document.getElementById('SelectedValues').value = $('#treeview-checkbox-demo').treeview('selectedValues');
            });

            console.log("trd");
            var tree = $('#treeview').treeview({
                debug: false,
            });
            var tree2 = $('#treeview2').treeview({
                debug: false,
            });
            console.log("trd 2");

           

            $('#show-values').on('click', function () {

                //document.getElementById('PostID').value = SelectedValues;
                console.log("1 : " + _selectedValuesCustom('treeview'));
                console.log("2 : " + _selectedValuesCustom('treeview2'));

            });

            $("i").click(function () {
                _toggleCollapseCustom($(this));

            });
        });
    </script>
}

@{
    <style>
    </style>
}
